{% extends "base.html" %}

{% block content %}
<div class="container followed-container col-lg-8 col-xs-12 mt-3 p-3">
    <div class="row">
        <div class="col-lg-12 d-flex flex-column">
            <h5 class="text-center">Popular users:</h5>
            <div class="row row-cols-5 pl-3 pr-3">
            {% for u in popular %}
            <div class="d-flex justify-content-center ">
                <a class="m-1 text-center" href="/user/{{u.username}}">
                    <img class="user-image" src="{{u.avatar(75)}}" alt="">
                    <p style="font-size: 11pt;" class="pb-0 mb-0">{{u.name}} {{u.surname}}</p>
                </a>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container questions-container mt-3 mb-3 pl-5 pr-5 pt-4 pb-3 col-lg-8 col-xs-12">
    <div class="row mb-1">
        {% if current_user.followed_questions().all() %}
        <h5>Followed users:</h5>
        {% else %}
        <h5>Popular answers:</h5>
        {% endif %}
    </div>
        {% for q in questions%}
        <div class="row">
            <div class="question-item p-4 pb-2 mb-3">
                <h5 style="color:#d35656;">{{ q.body }}
                    {% if not q.anonymous %}
                    <a class="align-middle" href="/user/{{q.sender.username}}" style="color: gray; font-size: 12pt;"> @{{ q.sender.username }}</a>
                    {% endif %}
                </h5>
                <div class="d-flex">
                    <a href="/user/{{q.receiver.username}}">
                        <img class="question-userpic" src="{{q.receiver.avatar(40)}}" alt="">
                    </a>
                    <div class="answer-info">
                        <a href="/user/{{q.receiver.username}}" class="p-0 m-0" style="color: #3c3d47;">@{{q.receiver.username}}</a>
                        <p class="time m-0" style="margin: 0;"> {{q.get_delta(True)}} ago</p>
                    </div>
                </div>
                <p class="answer-body mt-1">{{q.answer}}</p>
                <div class="likes-block align-middle">
                    {% if q.is_liked(current_user) %}
                        <i data-id="{{q.id}}" class="fas fa-heart fa-lg like-link"></i>
                    {% else %}
                        <i data-id="{{q.id}}" class="far fa-heart fa-lg like-link"></i>
                    {% endif %}
                    <span id="count-{{q.id}}" class="likes-count" {% if not q.likes.all() %} style="display: none;" {% endif %}>  {{q.likes.all()|length}} </span>
                    <span id="question-{{q.id}}">
                    {% if q.likes.all() %}
                        {% for u in q.likes.all()[-5:] %}
                        <a href="/user/{{u.username}}">
                            <img class="user-image" src="{{u.avatar(20)}}">
                        </a>
                        {% endfor %}
                    {% endif %}
                    </span>
                    <span id="liked-text-{{q.id}}"class="liked-text" {% if not q.likes.all() %} style="display: none;" {% endif %}>liked this...</span>
                </div>
            </div>
        </div>
        {% endfor %}
    <div class="pages d-flex justify-content-center" >
        {% if prev_url %}
        <a class="page-arrow" href="{{ prev_url }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        {% if next_url %}
        <a class="page-arrow" href="{{ next_url }}"><i class="fas fa-arrow-right"></i></a>
        {% endif %}
    </div>
</div>
{% endblock %}