{% extends "base.html" %}

{% block content %}

<div class="container col-8">
    <div class="row justify-content-center mt-4">
        <div class="col col-auto">
            <img class="user-image" src="{{user.avatar(175)}}" alt="">
        </div>
        <div class="col col-auto about-container" style="font-size: small;">
            <p style="font-weight: bold; font-size: 13pt;">
                <i class="fas fa-at"></i>{{user.username}}
            </p>
            <p><i class="fas fa-user"></i> {{user.name}} {{user.surname}}</p>
            {% if user.birthdate %}
            <p><i class="fas fa-birthday-cake"></i> {{user.birthdate.strftime('%m-%d-%Y')}}</p>
            {% endif %}
            <p><i class="fas fa-envelope"></i> {{user.email}}</p>
            {% if user.location %}
            <p><i class="fas fa-map-marker-alt"></i> {{user.location}}</p>
            {% endif %}
            {% if user.link %}
            <p><i class="fas fa-link"></i> {{user.link}}</p>
            {% endif %}
            {% if current_user.is_following(user) %}
            <a class="follow-btn" href="{{url_for('unfollow', username=user.username)}}"> <i class="fas fa-user-minus"></i> Unfollow </a>
            {% else %}
            <a class="follow-btn" href="{{url_for('follow', username=user.username)}}"> <i class="fas fa-user-plus"></i> Follow </a>
            {% endif %}
        </div>
    </div>
</div>
{% if user.username != current_user.username%}
<div class="container ask-container mt-4 pl-4 pr-4 pt-4 pb-1 col-lg-8 col-xs-12 ">
    <div class="mb-3">
        <h6> Ask <span style="font-weight: bold;">@{{ user.username }}</span> something:</h6>
    </div>
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.body(size=300) }}<br>
            {% for error in form.body.errors %}
            <span style="color: #d35656;">{{ error }}</span>
            {% endfor %}
            <div class="d-flex justify-content-between">
                <p class="d-inline">{{form.is_anonymous}} {{form.is_anonymous.label}}</p>
                <p class="d-inline">{{ form.submit() }}</p>
            </div>    
        </form>
    </div>
</div>
{% endif %}
<div class="container questions-container mt-4 p-5 mb-5 col-lg-8 col-xs-12 ">
    <div class="row mb-3">
        <h5>Answers <span class="q-number align-middle">{{ questions|length }}</span></h5>
    </div>
    {% if questions %}
        {% for q in questions%}
        <div class="row">
            <div class="question-item p-4 mb-3">
                <h5 style="color:#d35656;">{{ q.body }}
                    {% if not q.anonymous %}
                    <a class="align-middle" href="/user/{{q.sender.username}}" style="color: gray; font-size: 12pt;"> @{{ q.sender.username }}</a>
                    {% endif %}
                </h5>
                <p class="answer-body p-0 m-0">{{q.answer}}</p>
                <p class="time">{{ q.get_delta(True) }} ago</p>
                <div class="likes-block align-middle pt-4">
                    {% if q.is_liked(current_user) %}
                        <i data-id="{{q.id}}" class="fas fa-heart fa-lg like-link"></i>
                    {% else %}
                        <i data-id="{{q.id}}" class="far fa-heart fa-lg like-link"></i>
                    {% endif %}
                    <span id="count-{{q.id}}" class="likes-count" {% if not q.likes.all() %} style="display: none;" {% endif %}>  {{q.likes.all()|length}} </span>
                    <span id="question-{{q.id}}">
                    {% if q.likes.all() %}
                        {% for u in q.likes.all()[-5:] %}
                        <a href="/user/{{u.username}}">
                            <img class="user-image" src="{{u.avatar(20)}}">
                        </a>
                        {% endfor %}
                    {% endif %}
                    </span>
                    <span id="liked-text-{{q.id}}"class="liked-text" {% if not q.likes.all() %} style="display: none;" {% endif %}>liked this...</span>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="question-empty" href="#">
                <p>This user hasn't answered any questions.</p>
            </div>
        </div>
    {% endif %}
    <div class="pages d-flex justify-content-center" >
        {% if prev_url %}
        <a class="page-arrow" href="{{ prev_url }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        {% if next_url %}
        <a class="page-arrow" href="{{ next_url }}"><i class="fas fa-arrow-right"></i></a>
        {% endif %}
    </div>
</div>

{% endblock %}
