{% extends "base.html" %}

{% block content %}

<div class="container col-8">
    <div class="row justify-content-center mt-4">
        <div class="col col-auto">
            <img class="user-image" src="{{user.avatar(175)}}" alt="">
        </div>
        <div class="col col-auto about-container">
            <p style="font-weight: bold; font-size: 14pt;"><i class="fas fa-at"></i>{{user.username}}</p>
            <p><i class="fas fa-user"></i> {{user.name}} {{user.surname}}</p>
            {% if user.birthdate %}
            <p><i class="fas fa-birthday-cake"></i> {{user.birthdate.strftime('%m-%d-%Y')}}</p>
            {% endif %}
            <p><i class="fas fa-envelope"></i> {{user.email}}</p>
            {% if user.location %}
            <p><i class="fas fa-map-marker-alt"></i> {{user.location}}</p>
            {% endif %}
            {% if user.link %}
            <p><i class="fas fa-link"></i> {{user.link}}</p>
            {% endif %}
        </div>
    </div>
</div>
{% if user.username != current_user.username%}
<div class="container ask-container mt-3 pl-4 pr-4 pt-4 pb-1 col-lg-8 col-xs-12 ">
    <div class="mb-3">
        <h6> Ask <span style="font-weight: bold;">@{{ user.username }}</span> something:</h6>
    </div>
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.body(size=300) }}<br>
            {% for error in form.body.errors %}
            <span style="color: #d35656;">{{ error }}</span>
            {% endfor %}
            <div class="d-flex justify-content-between">
                <p class="d-inline">{{form.is_anonymous}} {{form.is_anonymous.label}}</p>
                <p class="d-inline">{{ form.submit() }}</p>
            </div>    
        </form>
    </div>
</div>
{% endif %}
<div class="container questions-container mt-4 p-5 mb-5 col-lg-8 col-xs-12 ">
    <div class="row mb-3">
        <h5>Answers <span class="q-number align-middle">{{ data|length }}</span></h5>
    </div>
    {% if data %}
        {% for q in data%}
        <div class="row">
            <div class="question-item p-4 mb-3">
                <h5 style="color:#d35656;">{{ q.body }}
                    {% if not q.anonymous %}
                    <a class="align-middle" href="/user/{{q.sender}}" style="color: gray; font-size: 12pt;"> @{{ q.sender }}</a>
                    {% endif %}
                </h5>
                <p class="answer-body">{{q.answer}}</p>
                <p class="time">{{ q.time }} ago</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="question-empty" href="#">
                <p>This user hasn't answered any questions.</p>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
